.time-panel {
  padding: 10px 40px;

  animation-name: floatInFromBottom;
  animation-duration: 1s;
}

@keyframes floatInFromBottom {
  0% {
    transform: translate(-50%, 100%)
  }
}

.time-panel-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}