.time-panel {
  border: 1px solid black;
  border-radius: 3px;
  background-color: #414141;
  color: white;
  width: 75%;
  padding: 5px;
  position: fixed;
  left: 50%;
  bottom: 30px;
  transform: translate(-50%, 0);
  margin: 0 auto;
  z-index: 8;
}

.time-panel > input {
  width: 100%;
}